/* color variables  */
:root {
    --bg: radial-gradient(circle, rgba(248,250,114,1) 0%, rgba(255,26,76,1) 114%);
}

.darkmode {
    --bg: #160d29;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg);
}

.container-watch {
    width: 60%;
    display: flex;
    background: #f0f0f0;
    margin: 8% auto;
    border-radius: 20px;
    text-align: center;
    flex-direction: column;
}

.title-watch {
    font-size: 3em;
    font-weight: 300;
}

.current-time {
    font-size: 2em;
}

.current-time:nth-child(1) {
    padding-right:0;
}

.current-time:nth-child(2) {
    padding-left: 0;
}

.buttons {
    display: flex;
    padding-bottom: 5%;
    justify-content: center;
}

.watch-bt {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border-color: #676566;
    border-style: solid;
    margin-left: 3%;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    transition: all 0.2s;
}

.watch-bt:hover {
    background: var(--bg);
    border-style: none;
    font-weight: bold;
    
}

.watch-bt:active {
    transform: scale(0.8);
}


/* button dark mode */
.light-dark-mode {
    display: flex;
    justify-content:flex-end;
}

.dark-mode-toggle {
  width: 5;
  background: none;
  border: none;
  margin: 5% 5% 0 0;

}


/* Responsive layout for mobile */
@media (max-width: 768px) {

    .container-watch {
        width: 80%;
        margin: 40% auto;
    }

    .title-watch {
        font-size: 2em;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .watch-bt{
        margin-bottom: 5%;
    }

    .watch-bt:first-child {
        margin-top: 20%;
    }

    .dark-mode-toggle {
        margin: 10% 5% 0 0;
      }
    
}